---
export interface Props {
  githubLink?: string;
  accessLink?: string;
  projectName: string;
  projectDescription: string;
  date: string;
  languages: string[];
  image: string;
}

const { githubLink, accessLink, projectName, projectDescription, date, languages, image } =
  Astro.props;
---
<div class="flex flex-row bg-primary-ultralight h-full rounded-lg border border-primary-light/20 shadow-md pt-8 pr-20 pl-20 pb-28 text-primary-dark justify-between content-between">
<a class="h-full w-1/3  mr-8  hover:ring-primary-dark" href={image} target="_blank" rel="noopener noreferrer">
 <!-- <i class="h-4 w-4 top-0 left-0 opacity-0 hover:opacity-100 transition-all rounded cursor-pointer fas fa-external-link-alt"></i> -->
  <img class="rounded shadow-md object-cover" src={image} alt="Project image"/>
</a>
  <article class="w-2/3 h-full flex flex-row justify-between">
  <div class="flex flex-col h-full justify-between w-2/3">
    <div>
    <h2 class="text-xl font-bold mb-2 ">{projectName}</h2>
    <p class="text-sm mb-4">{projectDescription}</p>
    </div>
    <div>
       {
          languages.map((language) => (
            <span class="bg-primary-dark text-white rounded-full text-xs px-2 py-1 mr-2 mb-2">
              {language}
            </span>
          ))
        }
    </div>
  </div>
    <div class="flex flex-col h-full w-1/3 justify-between">
      <p class="text-s text-right">{date}</p>
      <div>
      { accessLink && (
        <div class="flex items-center  content-end justify-end mb-2  text-primary-dark text-right">
          <i class="fas fa-external-link-alt mr-2"></i>
          <a class="hover:underline" href={ accessLink }>Visit</a>
        </div>
      )}
      {githubLink && (
      <div class="flex items-center content-end justify-end text-primary-dark text-right">
        <i class="fab fa-github mr-2"></i>
        <a class="hover:underline" href={ githubLink }>GitHub</a>
      </div>
      )}
      </div>
    </div>
       
    

</article>
</div>